[Unit]
Description=Claude Web UI
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/home/zach/source/projects/claude-web-ui
# Set timeout to 10 mins, it can take a bit to build
TimeoutStartSec=600
ExecStartPre=/bin/bash -lc "./build.sh"
ExecStart=/bin/bash -lc "stack exec claude-web-ui"
Restart=always

[Install]
WantedBy=default.target
