[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
ExecStart=/usr/bin/distrobox-enter dev -- echo started

[Install]
WantedBy=default.target

