[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStart=/bin/bash -c "if [ -f /etc/dconf/db/database.d/hyacinth-macaw.conf ]; then dconf load / < /etc/dconf/db/database.d/hyacinth-macaw.conf; fi"

[Install]
WantedBy=default.target

