[Unit]
Description=Creates dummy monitor for audio
After=pipewire-pulse.service

[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStart=/usr/bin/pactl load-module module-null-sink sink_name=dummy
ExecStop=/usr/bin/bash -c 'pactl unload-module "$(pactl list short modules | grep \'sink_name=dummy\' | awk \'{print $1}\')"'

[Install]
WantedBy=default.target


