[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStartPre=/usr/bin/distrobox-rm -f ephem-alpine
ExecStart=/usr/bin/bash -c 'distrobox-create --yes -i quay.io/toolbx-images/alpine-toolbox:latest --name ephem-alpine && distrobox-enter ephem-alpine -- echo started' 
ExecStop=/usr/bin/distrobox-rm -f ephem-alpine

[Install]
WantedBy=default.target


