[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStartPre=/usr/bin/distrobox-rm -f ephem-rhel
ExecStart=/usr/bin/bash -c 'distrobox-create --yes -i quay.io/toolbx-images/rhel-toolbox:latest --additional-flags "-v /var/home/linuxbrew:/var/home/linuxbrew -v /home/linuxbrew:/home/linuxbrew" --name ephem-rhel && distrobox-enter ephem-rhel -- echo started' 
ExecStop=/usr/bin/distrobox-rm -f ephem-rhel

[Install]
WantedBy=default.target


