[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStartPre=/usr/bin/distrobox-rm -f ephem-ubuntu
ExecStart=/usr/bin/bash -c 'distrobox-create --yes -i quay.io/toolbx/ubuntu-toolbox:24.04 --name ephem-ubuntu && distrobox-enter ephem-ubuntu -- echo started' 
ExecStop=/usr/bin/distrobox-rm -f ephem-ubuntu

[Install]
WantedBy=default.target

