[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStartPre=/usr/bin/distrobox-rm -f ephem-ubi
ExecStart=/usr/bin/bash -c 'distrobox-create --yes -i registry.access.redhat.com/ubi9/toolbox --additional-flags "-v /var/home/linuxbrew:/var/home/linuxbrew -v /home/linuxbrew:/home/linuxbrew" --name ephem-ubi && distrobox-enter ephem-ubi -- echo started' 
ExecStop=/usr/bin/distrobox-rm -f ephem-ubi

[Install]
WantedBy=default.target

