[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStartPre=/usr/bin/distrobox-rm -f ephem-fedora
ExecStart=/usr/bin/bash -c 'distrobox-create --yes -i registry.fedoraproject.org/fedora-toolbox:40 --additional-flags "-v /var/home/linuxbrew:/var/home/linuxbrew -v /home/linuxbrew:/home/linuxbrew" --name ephem-fedora && distrobox-enter ephem-fedora -- echo started' 
ExecStop=/usr/bin/distrobox-rm -f ephem-fedora

[Install]
WantedBy=default.target

