[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStartPre=/usr/bin/distrobox-rm -f ephem-arch
ExecStart=/usr/bin/bash -c 'distrobox-create --yes -i quay.io/toolbx/arch-toolbox:latest --name ephem-arch && distrobox-enter ephem-arch -- echo started' 
ExecStop=/usr/bin/distrobox-rm -f ephem-arch

[Install]
WantedBy=default.target

