[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
ExecStart=/var/home/zach/bin/export/mpd
ExecStop=/usr/bin/killall mpd

[Install]
WantedBy=default.target
