[Unit]
Description=Ollama

[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
Environment="OLLAMA_NUM_PARALLEL=8"
ExecStart=/usr/bin/bash -c 'distrobox enter ollama -- ollama serve'

[Install]
WantedBy=default.target

