[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
ExecStart=/home/zach/bin/scripts/update_dotfiles
ExecStart=/home/zach/bin/scripts/update_notes
ExecStart=/home/zach/bin/scripts/update_repos

[Install]
WantedBy=default.target

