[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
ExecStart=/usr/bin/hyacinth-macaw on_login
ExecStop=/usr/bin/hyacinth-macaw on_logout

[Install]
WantedBy=default.target

