[Unit]
Description=podomation
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/.config/podomation/
TimeoutStartSec=30
ExecStart=/usr/bin/podomation run main.pod
Restart=always

[Install]
WantedBy=default.target
