[Unit]
Description=SSHFS Mount for srv-zach
After=network-online.target tailscaled.service
Wants=network-online.target tailscaled.service
# Retry configuration
StartLimitIntervalSec=300
StartLimitBurst=5

# Make sure user is part of fuse group 
# or `user_allow_other` is uncommented in /etc/fuse.conf
[Mount]
What=zach@srv-zach:/var/home/zach
# systemd-escape -p --suffix=mount "/home/zach/.mnt/nas"
Where=%h/data/mnt/srvzach
Type=fuse.sshfs
Options=_netdev,reconnect,ServerAliveInterval=15,ServerAliveCountMax=3,x-systemd.automount,IdentityFile=%h/.ssh/id_rsa,allow_other,default_permissions,ConnectTimeout=10,compression=no
TimeoutSec=90

[Install]
WantedBy=default.target


