[Unit]
Description=SSHFS Mount for NAS
After=network-online.target
Wants=network-online.target

# Make sure user is part of fuse group 
# or `user_allow_other` is uncommented in /etc/fuse.conf
[Mount]
What=zach@10.0.0.7:/mnt/Data-00/Shares
# systemd-escape -p --suffix=mount "/home/zach/.mnt/nas"
Where=%h/.mnt/nas
Type=fuse.sshfs
Options=_netdev,reconnect,ServerAliveInterval=30,ServerAliveCountMax=5,x-systemd.automount,IdentityFile=%h/.ssh/id_rsa,allow_other,default_permissions
TimeoutSec=60

[Install]
WantedBy=default.target

