[Unit]
Description=webhook-cmd

[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStart=/usr/bin/bash -lc 'webhook_cmd --debug'

[Install]
WantedBy=default.target


