[Unit]
Description=webhook-cmd

[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStart=/usr/bin/bash -c '/var/home/zach/bin/scripts/webhook-cmd'

[Install]
WantedBy=default.target


