[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/nvim"]
	path = .config/nvim
    url = git@gitlab.com:zachpodbielniak/nvim.git
    branch = master
[submodule "deps/vimban"]
	path = deps/vimban
	url = git@gitlab.com:zachpodbielniak/vimban.git
[submodule ".config/emacs"]
	path = .config/emacs
	url = git@git-ssh.podbielniak.com:zachpodbielniak/emacs.git
