.config/mpd/mpd.db
.config/mpd/mpd.log
.config/mpd/mpdstate
.config/mpd/mpdstate-flac
.config/ncmpcpp/error.log
.config/tmux/plugins/
.config/systemd/user/default.target.wants/
.config/systemd/user/tracker*
*.db
immutablue*service
tmux.service
auth.json
*.log
.claude/
trees/
*.hi
*.o
dist-newstyle/
__pycache__/
.config/nginx-private/ssl/
podman-connection*
.config/rdt/saved.yaml
