[Desktop Entry]
Name=Syncthing Tray
GenericName=Syncthing Tray
Comment=Tray application for Syncthing
Exec=/usr/bin/flatpak run --branch=stable --command=syncthingtray io.github.martchus.syncthingtray
Icon=io.github.martchus.syncthingtray
Terminal=false
Type=Application
Categories=Network;FileTransfer
Actions=ShowTrayMenu;ShowSyncthing;RescanAll;PauseAllDevs;ResumeAllDevs;Restart
X-Flatpak-RenamedFrom=syncthingtray.desktop;
X-Flatpak=io.github.martchus.syncthingtray

[Desktop Action ShowTrayMenu]
Name=Show tray menu
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingtray io.github.martchus.syncthingtray qt-widgets-gui --trigger

[Desktop Action ShowSyncthing]
Name=Show Syncthing (currently selected instance)
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingtray io.github.martchus.syncthingtray qt-widgets-gui --webui

[Desktop Action RescanAll]
Name=Rescan all folders (of local Syncthing instance)
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingctl io.github.martchus.syncthingtray rescan-all

[Desktop Action PauseAllDevs]
Name=Pause all devices (of local Syncthing instance)
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingctl io.github.martchus.syncthingtray pause --all-devs

[Desktop Action ResumeAllDevs]
Name=Resume all devices (of local Syncthing instance)
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingctl io.github.martchus.syncthingtray resume --all-devs

[Desktop Action Restart]
Name=Restart Syncthing (local instance)
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingctl io.github.martchus.syncthingtray restart

