[Desktop Entry]
Version=1.0
Name=Remmina Applet
Comment=Connect to remote desktops through the applet menu
Icon=org.remmina.Remmina
Exec=flatpak run org.remmina.Remmina -i
Terminal=false
Type=Application
Hidden=false
