/*
 * wofi style - Catppuccin Mocha
 * Ported from rofi catppuccin-mocha.rasi
 */

/* Catppuccin Mocha color palette */
@define-color base #1e1e2e;
@define-color text #cdd6f4;
@define-color blue #89b4fa;
@define-color pink #f38ba8;
@define-color overlay0 #6c7086;

* {
    font-family: "Hack Nerd Font Mono";
    font-size: 14px;
}

window {
    background-color: @base;
    border: 3px solid @base;
    border-radius: 5px;
}

#input {
    background-color: @base;
    color: @text;
    border: none;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 6px;
}

#input:focus {
    outline: none;
}

#inner-box {
    background-color: @base;
    margin: 0px 20px;
}

#outer-box {
    background-color: @base;
}

#scroll {
    background-color: @base;
}

#text {
    color: @text;
    margin: 0px;
    padding: 5px;
}

#text:selected {
    color: @pink;
    background-color: @base;
}

#entry {
    background-color: @base;
    padding: 5px;
    border-radius: 5px;
}

#entry:selected {
    background-color: @base;
    outline: none;
}

#img {
    margin-right: 10px;
}
