#tabbrowser-tabs {
	visibility: collapse;
}

#TabsToolbar {
	display: none !important;
}

#navigator-toolbox { border: none !important; }
:root { border: none !important; }
#main-window { border: none !important; }
