[Unit]
Description=Nginx container
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/nginx:mainline
PublishPort=0.0.0.0:80:80
Volume=/var/home/zach/Public:/usr/share/nginx/html:z,ro
Volume=/var/home/zach/.config/nginx/nginx.conf:/etc/nginx/nginx.conf:z,ro
Volume=/var/home/zach/.config/nginx/default.conf:/etc/nginx/conf.d/default.conf:z,ro
Volume=/var/home/zach/.mnt/nas/Media/Movies:/usr/share/nginx/html/movies:z,ro
Volume=/var/home/zach/.mnt/nas/Media/TV Series:/usr/share/nginx/html/tv_series:z,ro

[Service]
Restart=always

[Install]
WantedBy=default.target

