[Unit]
Description=Ollama container
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/ollama/ollama:rocm
PublishPort=127.0.0.1:11434:11434
AddDevice=/dev/kfd 
AddDevice=/dev/dri 
Volume=/var/home/zach/.ollama:/root/.ollama:z
Environment=HSA_OVERRIDE_GFX_VERSION=11.5.1
#UserNS=keep-id
SecurityLabelDisable=true

[Service]
Restart=always

[Install]
WantedBy=default.target


