[Unit]
Description=Open WebUI container
Wants=network-online.target
After=network-online.target ollama-lt-zach.service
ConditionHost=lt-zach
StartLimitIntervalSec=0

[Container]
Image=ghcr.io/open-webui/open-webui:main
PublishPort=127.0.0.1:8005:8080
PublishPort=100.72.0.41:8005:8080
Environment=OLLAMA_BASE_URL=http://127.0.0.1:11434
Environment=WEBUI_AUTH=true
Volume=/var/home/zach/.data/open-webui:/app/backend/data:z
Network=slirp4netns:allow_host_loopback=true

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
