[Unit]
Description=Pantalaimon Matrix E2EE proxy
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Container]
Image=docker.io/matrixdotorg/pantalaimon
PublishPort=127.0.0.1:8009:8009
Volume=%h/data/container_data/pantalaimon:/data:z

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
