[Unit]
Description=Postgresql container
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Container]
Image=docker.io/pgvector/pgvector:pg17
PublishPort=127.0.0.1:5432:5432
PublishPort=100.72.0.43:5432:5432
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_HOST_AUTH_METHOD=trust
Volume=/var/home/zach/.data/postgres:/var/lib/postgresql/data:z

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target


