[Unit]
Description=Redis container (scratch)
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Container]
Image=docker.io/redis
PublishPort=127.0.0.1:6379:6379
PublishPort=[::1]:6379:6379
Volume=%h/data/container_data/redis:/data:z

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

